@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

header{
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;

    nav{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        .illustration--list_container{
            display: flex;
            align-items: center;
            ul{
                display: flex;
                list-style: none;
                margin-bottom: 0px;
                li{
                    margin: 0 40px;
                    //padding: 40px 0;
    
                    a{
                        text-decoration: none;
                        color: black;
                        @include border-special;
                    }
                }
                
            }
        }
    }
}
// Gestione link con hover
ul{
    :hover.illustration--home{
        border-bottom: 10px solid rgba($color: pink, $alpha: 0.7);
    }
    .illustration--pages{
        border-bottom: 10px solid rgba($color: #ebebebf1, $alpha: 1);
    }
    :hover.illustration--pages_hover{
        border-bottom: 10px solid rgba($color: #EBEBEB, $alpha: 1);
    }
    :hover.illustration--portfolio{
        border-bottom: 10px solid rgba($color: green, $alpha: 0.2);
    }
    :hover.illustration--blog{
        border-bottom: 10px solid rgba($color: violet, $alpha: 0.2);
    }
    :hover.illustration--shop{
        border-bottom: 10px solid rgba($color: orange, $alpha: 0.2);
    }
    :hover.element{
        border-bottom: 10px solid rgba($color: orange, $alpha: 0.2);
    }
}
//Creazione del dropdown

.illustration--dropdown{
    position: relative;
    display: inline-block;

    .illustration--dropdown_content{
        display: none;
        position: absolute;
        //top:60px;
        background-color: rgba($color: #FAF7F2, $alpha: 1);
        min-width: 200px;
        padding: 10px 15px;
        z-index: 2;
    }   

    &:hover .illustration--dropdown_content{
        display: block;
    }
}
//Creazione dropdown specifico

.illustration--dropdown_special{
    position: relative;
    display: inline-block;
    
    .special_content{
        display: none;
        position: absolute;
        //top: 60px;
        left: -57vw;
        width: 100vw;
        background-color: rgba($color: #FAF7F2, $alpha: 1);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px 15px;
        z-index: 2;
    }
    &:hover .special_content{
        display: flex;
    }
    .special_content_element{
        display: none;
        position: absolute;
        //top: 60px;
        left: -81vw;
        width: 100vw;
        background-color: rgba($color: #FAF7F2, $alpha: 1);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px 15px;
        z-index: 1;
    }
    &:hover .special_content_element{
        display: flex;
    }
}