@use 'partials/variables.scss' as *;
@use 'partials/mixins.scss' as *;

// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';

html {
  overflow-x: hidden;
}
header{
    font-family: 'Muli', sans-serif;
}
main{
  font-family: 'Muli', sans-serif;
  
}
footer{
  font-family: 'Muli', sans-serif;
}